
<h1> New Project </h1>

<form method="post"> 
    <div class="form-group">
        <label for="name"> Project Name </label>
        <input type="text" class="form-control" name="name" placeholder="project name">
    </div>
        <button class="btn btn-warning float-right"> Create new project </button>
    
</form>